.card-border {
  min-width: 170px;
  max-width: 250px;
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid #dedede;
}

.hoverable {
  transition: all 0.3s;
}

.hoverable:hover {
  -webkit-box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
    0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
    0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.elastic {
  font-size: 15px;
}

.card-cover_frame {
  width: 100%;
  overflow: hidden;
  height: 220px;
}

.card-cover {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-border_content {
  padding: 5px;
}
.card-title {
  /* font-weight: bold; */
  font-size: 18px;
}
